@model IEnumerable<BookApp.Models.Book>

@{
    ViewBag.Title = "Books List";
}

<h2>Books List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTitle)
        </th>
        <th>
            Date Published
        </th>
        <th>
            Cover Image
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTitle)
        </td>
        <td>
            @item.DatePublished.ToString("d")
        </td>
        <td>
            @if (item.CoverImage != null)
            {
                <img src="data:image;base64,@System.Convert.ToBase64String(item.CoverImage)" style=" max-width: 150px;" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Reviews", "Index", "BookReviews", new { id = item.Id },null) 
        </td>
    </tr>
}

</table>
