@model BookApp.Models.Book

@{
    ViewBag.Title = "Reviews";
}

<h2>Reviews &amp; Ratings for @Model.Title </h2>

<p>
    @Html.ActionLink("Create New", "Create",new { bookId = Model.Id })
</p>
<table class="table">
    <tr>
        <th style="min-width:100px">
            Rating
        </th>
        <th>
            Review Title
        </th>
        <th>
            Review
        </th>
        <th></th>
    </tr>

    @if (Model.Reviews != null)
    {
        foreach (var item in Model.Reviews)
        {
            <tr>
                <td>
                    @if (item.Rating.HasValue)
                    {
                        for (int i = 0; i < item.Rating; i++)
                        {
                            <span class="glyphicon glyphicon-star"></span>
                        }
                        for (int i = item.Rating.Value; i < 5; i++)
                        {
                            <span class="glyphicon glyphicon-star-empty"></span>
                        }
                    }
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Review)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id} ) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    }

</table>
